<!DOCTYPE html>
<html>
  <body>
    <h2>Welcome {{ username }}!</h2>
    <p>You've been registered in Arch Enterprises.</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Password:</strong> {{ password }}</p>
    <p>Please change your password after first login.</p>
  </body>
</html>
